@charset 'utf-8';



/* reset========================= */
*,
/* *::before, */
*::after{margin:0;padding:0;box-sizing:border-box}:where([hidden]:not([hidden='until-found'])){display:none!important}:where(html){-webkit-text-size-adjust:none;color-scheme:dark light}@supports not (min-block-size:100dvb){:where(html){block-size:100%}}@media (prefers-reduced-motion:no-preference){:where(html:focus-within){scroll-behavior:smooth}}:where(body){block-size:100%;block-size:100dvb;line-height:1.5;font-family:system-ui,sans-serif;-webkit-font-smoothing:antialiased}:where(input,button,textarea,select){font:inherit;color:inherit}:where(textarea){resize:vertical;resize:block}:where(button,label,select,summary,[role='button'],[role='option']){cursor:pointer}:where(:disabled){cursor:not-allowed}:where(label:has(>input:disabled),label:has(+input:disabled)){cursor:not-allowed}:where(button){border-style:solid}:where(a){text-underline-offset:.2ex}:where(ul,ol){list-style:none}:where(img,svg,video,canvas,audio,iframe,embed,object){display:block}:where(img,picture,svg){max-inline-size:100%;block-size:auto}:where(p,h1,h2,h3,h4,h5,h6){overflow-wrap:break-word}:where(h1,h2,h3){line-height:calc(1em + 0.5rem)}:where(hr){border:none;border-block-start:1px solid;color:inherit;block-size:0;overflow:visible}:where(:focus-visible){outline:2px solid var(--focus-color,Highlight);outline-offset:2px}:where(.visually-hidden:not(:focus,:active,:focus-within,.not-visually-hidden)){clip-path:inset(50%)!important;height:1px!important;width:1px!important;overflow:hidden!important;position:absolute!important;white-space:nowrap!important;border:0!important}
li {
    list-style: none;
  }
a{
    text-decoration:none;

}
button{
    all:unset;
}
/* ===================================== */
.material-symbols-outlined {
  font-variation-settings:
  'FILL' 0,
  'wght' 400,
  'GRAD' 0,
  'opsz' 24
}

  
  body {

    background-color: rgb(245, 246, 247);
    margin:0 auto;
    font-family: 'Kiwi Maru', serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Sawarabi Gothic', sans-serif;
  }

/* header=============================== */


#header {
    height: 64px;
    width: 100%;
    background-color:rgb(111, 109, 114);
    /* box-shadow:0 2px 3px #aaa ; */
    position: fixed;
    z-index: 5; 
    
}

#header ul {
    display: flex;
    justify-content: right;
    margin-right: 5%;
   
    
}

#header li {
    margin-left: 40px;
    padding:0 4px 2px 0;
    font-size: 1.3rem;
    padding-top:15px;
    opacity:1;
    overflow: hidden;

  }
  
#header a {
    color: #eee;
  }

  /* header animation */
  
  .animoBorderLeftRight{
    display:inline-block;
    position:relative;
    cursor:pointer
  }
  .animoBorderLeftRight::after{
    content:'';
    position:absolute;
    width:100%;
    transform:scaleX(0);
    height:2px;
    bottom:0;
    left:0;
    background-color:rgb(28,77,105);
    transform-origin:bottom right;
    transition:transform .4s cubic-bezier(.86,0,.07,1)
  }
  .animoBorderLeftRight:hover::after{
    transform:scaleX(1);
    transform-origin:bottom left
  }
      
/* ===================================== */

p{
  line-height: 32px;
}



/* footer=============================== */
footer {
  margin-top:60px;
    width: 100%;
    height: 150px;
    background-color:#1c4d69;
    vertical-align: center;
  }

  .footer-inner{
    color:white;
    text-align: right;
    margin:0 5%;
    padding-top:45px;
  }
  /* mail icon  */
  footer span{
    margin-right:5px;
    vertical-align: bottom;
  }
  

  

/* ===================================== */

/* @media(max-width:768px){
  .footer-inner{
    text-align: center;
    padding-top:45px;
  } */
}


        