@charset 'utf-8';

#img {
  width: 600px;
  margin: 0 auto;
}

h1 {
  font-size: 32px;
  padding: 120px 0 24px 8px;
  text-align: center;
  font-weight: bold;
  color: rgb(72, 69, 69);
  margin-bottom: 16px;
}

#skills {
  display: flex;
}
#skills li {
  background-color: rgb(213, 200, 176);
  border-radius: 5px;
  padding: 7px 14px;
  margin: 16px 10px 16px 0;
}

.wrapper {
  max-width: 80%;
  margin: 0 auto;
}

h2 {
  font-weight: bold;
  font-size: 20px;
  margin: 28px 0;

  /* border-bottom: rgb(183, 183, 203) 2px dashed; */
  background-color: rgb(237, 238, 240);
}

.btn {
  margin: 40px 60px 20px 0;
  border: 1px solid;
  padding: 20px 30px;
  border-radius: 4px;
}

.icon {
  width: 35px;
  height: 35px;
  /* float: left; */
  margin: 18px 13px 0 0;
}
.skills {
  display: flex;
}
.buttons {
  margin: 60px 0;
  text-align: center;
}
